html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  //min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #000;
  background-size: cover;
}

body {
  color: #fff;
  background: hsl(0, 0%, 0%);
  font: 300 1em 'Fira Sans', sans-serif;
  //Center everything ever
  min-height: 100vh;
  display: flex;
}

button {
  cursor: pointer;
  background-color: transparent;
  border: transparent;
  transition: 1s;
  padding: 10px;
  width: 50px;
  height: 100px;
  margin-right: 100%;
  font-family: 'Bebas Neue', cursive;
  font-family: 'Comfortaa', cursive;
  font-family: 'Libre Barcode 39 Text', cursive;
  font-family: 'Righteous', cursive;
  font-family: 'Roboto', sans-serif;

  p {
    font-size: 45px;
    line-height: 0%;
    margin: 0%;

    span {
      visibility: hidden;
    }
  }
}

button:hover {
  padding: 0%;
  animation: opacityy 0.8s;
  border: transparent;

  p {
    line-height: 0px;
    visibility: hidden;

    span {
      visibility: visible;
    }
  }
}

//animaciones
@keyframes opacityy {
  0% {
    opacity: 0;
  }

  5% {
    opacity: 0.05;
  }

  10% {
    opacity: 0.1;
  }

  15% {
    opacity: 0.15;
  }

  20% {
    opacity: 0.2;
  }

  25% {
    opacity: 0.25;
  }

  30% {
    opacity: 0.3;
  }

  35% {
    opacity: 0.35;
  }

  40% {
    opacity: 0.4;
  }

  45% {
    opacity: 0.45;
  }

  50% {
    opacity: 0.5;
  }

  55% {
    opacity: 0.55;
  }

  60% {
    opacity: 0.6;
  }

  65% {
    opacity: 0.65;
  }

  70% {
    opacity: 0.7;
  }

  75% {
    opacity: 0.75;
  }

  80% {
    opacity: 0.8;
  }

  85% {
    opacity: 0.85;
  }

  90% {
    opacity: 0.9;
  }

  95% {
    opacity: 0.95;
  }

  100% {
    opacity: 1;
  }
}

.transition {
  animation: opacityy 0.2s;
}

//back
.Back {
  opacity: 0.3;

  img {
    width: 30%;
    margin-left: 83%;
  }
}

//headerButtonBack
.headerButtonBack {
  //position: absolute;
  top: 20%;
  right: 70%;
  left: 0;
  margin: 10%;

  .botonHeader {
    border: transparent;
    width: 15%;
    height: 10%;
    padding: 1%;

    a {
      text-decoration: none;
    }

    p {
      opacity: 0.4;
      color: white;
      //text-shadow: 0px 0px 8px white;
      font-size: 4vw;
      line-height: 0%;

      span {
        visibility: hidden;
      }
    }
  }

  .botonHeader:hover {
    animation: opacityy 0.3s;
    border: transparent;
    width: 15%;
    height: 10%;

    p {
      line-height: 0px;
      visibility: hidden;

      span {
        visibility: visible;
      }
    }
  }
}

//work
.WorkGrid {
  display: grid;
  grid-template-columns: 55% 50%;
  grid-template-rows: 10% 10%;
  margin: 5%;
  padding: 1%;

  .esta {
    width: 1vw;
    margin-left: 87%;

    img {
      //margin-top: 10%;
      margin-right: 100%;
      width: 5vw;
    }
  }

  .here1 {
    width: 30%;
    margin-left: 30%;

    a {
      text-decoration: none;
      color: #fff;
    }
  }

  .here2 {
    width: 30%;
    margin-top: 10%;
    margin-left: 30%;

    a {
      text-decoration: none;
      color: #fff;
    }
  }

  .initial {
    transform: translateY(5vw);
  }

  div {
    align-items: center;
    text-align: center;
    //border: 1px solid #e1306c;
    padding: 5%;

    .UnoTitle {
      margin-top: 0%;
    }

    h4 {
      transition: 1s;
      margin: 0%;
      font-size: 7vw;
      font-family: 'Bebas Neue', cursive;
      font-family: 'Comfortaa', cursive;
      font-family: 'Libre Barcode 39 Text', cursive;
      font-family: 'Oswald', sans-serif;
      font-family: 'Righteous', cursive;
      font-family: 'Roboto', sans-serif;
    }

    hr {
      border-color: #e1306e;
      border-radius: 10%;
    }

    h4:hover {
      color: #46c1f6;
      text-indent: 10%;
    }

    p:hover {
      text-shadow: 0px 0px 10px white;
      letter-spacing: 5px;
    }

    p {
      transition: 1s;
      font-family: 'Gantari', sans-serif;
      margin: 0%;
      font-size: 4vw;
    }
  }
}


@media screen and (max-width: 485px) {
  .Back {
    visibility: hidden;
  }
}
