<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
  <link rel="stylesheet" href="app.component.scss" />
  <!--RobotoFont
    https://fonts.google.com/specimen/Roboto?category=Serif,Sans+Serif&sort=popularity&preview.text=about&preview.text_type=custom
    -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Comfortaa:wght@700&family=Libre+Barcode+39+Text&family=Righteous&family=Roboto:ital,wght@1,900&display=swap"
    rel="stylesheet" />
  <!--OswaldFont
    https://fonts.google.com/specimen/Oswald?category=Serif,Sans+Serif&sort=popularity&preview.text=Created%20by&preview.text_type=custom
    -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Comfortaa:wght@700&family=Libre+Barcode+39+Text&family=Oswald&family=Righteous&family=Roboto:ital,wght@1,900&display=swap"
    rel="stylesheet" />
  <!--YanoeKaffeeatzFont
    https://fonts.google.com/specimen/Yanone+Kaffeesatz?category=Serif,Sans+Serif&sort=popularity&preview.text=Thanks%20for%20your%20visit&preview.text_type=custom
    -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Comfortaa:wght@700&family=Libre+Barcode+39+Text&family=Oswald&family=Righteous&family=Roboto:ital,wght@1,900&family=Yanone+Kaffeesatz&display=swap"
    rel="stylesheet" />
  <!--WorkSansFont
    https://fonts.google.com/specimen/Work+Sans?category=Serif,Sans+Serif&sort=popularity&preview.text=@heisjuanda&preview.text_type=custom
    -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Comfortaa:wght@700&family=Libre+Barcode+39+Text&family=Oswald&family=Righteous&family=Roboto:ital,wght@1,900&family=Work+Sans:ital@1&family=Yanone+Kaffeesatz&display=swap"
    rel="stylesheet" />
  <!--WorkSansFont
    https://fonts.google.com/specimen/Gantari?category=Serif,Sans+Serif
    -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Gantari:wght@100&display=swap" rel="stylesheet" />

  <title>Work by Juanda</title>
</head>

<body>
  <div class="transition" id="wORK" *ngIf="mostrar">
    <div class="Header">
      <div class="headerButtonBack" data-aos="fade-right" data-aos-duration="500" data-aos-delay="0">
        <button class="botonHeader">
          <a href="https://heisjuanda.netlify.app/">
            <p>
              Back? <br />
              <span>Yes</span>
            </p>
          </a>
        </button>
      </div>
    </div>

    <div class="WorkGrid">

      <div class="init">
        <hr class="initial">
      </div>

      <div class="init">
        <hr class="initial">
      </div>

      <div data-aos="fade-up" data-aos-duration="500" data-aos-delay="100" data-aos-once="true">
        <h4 class="UnoTitle">Program Language</h4>
      </div>

      <div></div>

      <div data-aos="fade-down" data-aos-delay="200" data-aos-duration="500" data-aos-once="true" class="here2">
        <a target="_blank" href="https://github.com/jdma253/Program-language">
          <p>Here</p>
        </a>
      </div>

      <div></div>

      <div>
        <hr />
      </div>
      <div>
        <hr />
      </div>

      <div></div>

      <div data-aos="fade-up" data-aos-duration="500" data-aos-delay="100" data-aos-once="true">
        <h4>Angular Portafolio</h4>
      </div>

      <div></div>

      <div class="here1" data-aos-once="true" data-aos="fade-down" data-aos-delay="200" data-aos-duration="500">
        <a target="_blank" href="https://github.com/jdma253/Portafolio-Main">
          <p>Here</p>
        </a>
      </div>

      <div>
        <hr />
      </div>
      <div>
        <hr />
      </div>

      <div data-aos="fade-up" data-aos-duration="500" data-aos-delay="100" data-aos-once="true">
        <h4>Component Calculator</h4>
      </div>

      <div></div>

      <div class="here1" data-aos-once="true" data-aos="fade-down" data-aos-delay="200" data-aos-duration="500">
        <a target="_blank" href="https://github.com/jdma253/componentCalculator">
          <p>Here</p>
        </a>
      </div>

      <div></div>

      <div>
        <hr>
      </div>
      <div>
        <hr>
      </div>

      <div></div>

      <div data-aos="fade-up" data-aos-duration="500" data-aos-delay="100" data-aos-once="true">
        <h4>Tic-Tac-Toe</h4>
      </div>

      <div></div>

      <div class="here1" data-aos-once="true" data-aos="fade-down" data-aos-delay="200" data-aos-duration="500">
        <a target="_blank" href="https://github.com/jdma253/tic-tac-toe">
          <p>Here</p>
        </a>
      </div>

      <div>
        <hr />
      </div>
      <div>
        <hr />
      </div>

      <div data-aos="fade-up" data-aos-duration="500" data-aos-delay="100" data-aos-once="true">
        <h4>Scheduling Algorithms</h4>
      </div>

      <div></div>

      <div class="here1" data-aos-once="true" data-aos="fade-down" data-aos-delay="200" data-aos-duration="500">
        <a target="_blank" href="https://github.com/jdma253/diagramasNoApropiativos">
          <p>Here</p>
        </a>
      </div>

      <div></div>

      <div>
        <hr />
      </div>
      <div>
        <hr />
      </div>

      <div></div>

      <div data-aos="fade-up" data-aos-duration="500" data-aos-delay="100" data-aos-once="true">
        <h4>More Projects</h4>
      </div>

      <div></div>

      <div class="here1" data-aos-once="true" data-aos="fade-down" data-aos-delay="200" data-aos-duration="500">
        <a target="_blank" href="https://github.com/jdma253?tab=repositories">
          <p>Here</p>
        </a>
      </div>

      <div>
        <hr />
      </div>
      <div>
        <hr />
      </div>

      <div data-aos-once="true" data-aos="fade-up" data-aos-duration="500" data-aos-delay="200" data-aos-offset="10" class="esta">
        <a class="Back" href="#wORK">
          <img
            src="https://user-images.githubusercontent.com/63882053/192379634-63afe651-a484-4a42-8129-5b56a3409319.png"
            alt="" />
        </a>
      </div>

    </div>
    <br>
  </div>
</body>

</html>
